<div id="inventory-dashboard">
  <mat-drawer-container
    class="collection-container"
    autosize
    hasBackdrop="false"
  >
    <mat-drawer
      #drawer
      class="sidenav-filter"
      mode="over"
      [(opened)]="filterOpened"
    >
      <app-card-filter
        (cardFilterChange)="updateFilters($event)"
        (closeClicked)="closeFilters()"
      >
      </app-card-filter>
    </mat-drawer>

    <div id="flex-container">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon> Filters
      </button>

      <mat-form-field id="name-lookup" appearance="outline">
        <mat-label>Search By Name</mat-label>
        <mat-chip-grid #chipList aria-label="Fruit selection">
          <mat-chip-row
            *ngFor="let name of selectedNames"
            selectable="true"
            removable="true"
            (removed)="removeName(name)"
          >
            {{ name }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            placeholder="Search By Name..."
            #nameInput
            [formControl]="nameControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addName($event)"
          />
        </mat-chip-grid>
        <mat-autocomplete
          #auto="matAutocomplete"
          autoActiveFirstOption="tre"
          (optionSelected)="nameSelected($event)"
        >
          <mat-option
            *ngFor="let name of filteredCardNames | async"
            [value]="name"
          >
            <strong>{{ name }}</strong>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <mat-grid-list
      *ngIf="filteredCards.length"
      [cols]="cols"
      rowHeight="150px"
      gutterSize="20px"
    >
      <mat-grid-tile *ngFor="let card of filteredCards">
        <app-player-card [card]="card" style="width: 100%"></app-player-card>
      </mat-grid-tile>
    </mat-grid-list>
    <h3 *ngIf="!filteredCards.length" style="color: white; height: 800px">
      No Matching Items
    </h3>
  </mat-drawer-container>
</div>
