<div id="inventory-dashboard">
  <app-collection-overview [collection]="filteredCards"></app-collection-overview>
  
  <mat-drawer-container class="collection-container" autosize>
    <mat-drawer #drawer class="sidenav-filter" mode="over">
      <app-card-filter (cardFilterChange)="updateFilters($event)"></app-card-filter>
    </mat-drawer>

    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-form-field class="name-lookup" appearance="outline">
      <mat-label>Search By Name</mat-label>
      <input
          type="text"
          placeholder="Fighter Name"
          matInput
          [formControl]="inventoryControl"
          [matAutocomplete]="auto"/>
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option
              *ngFor="let name of filteredCardNames | async"
              [value]="name"
              (onSelectionChange)="selectName(name)">
          <strong>{{name}}</strong>
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-grid-list  *ngIf="filteredCards.length" [cols]="cols" rowHeight="150px" gutterSize="20px">
      <mat-grid-tile *ngFor="let card of filteredCards">
        <app-player-card [card]=card style="width:100%"></app-player-card>
      </mat-grid-tile>
    </mat-grid-list>
    <h3 *ngIf="!filteredCards.length" style="color: white">No Matching Items</h3>

  </mat-drawer-container>
</div>
