mat-grid-list {
  margin: 0px 20px;
}

mat-chip-list {
  margin: 5px 10px;
}

mat-form-field {
  width: 100px;
  padding-bottom: 0px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

.collection-container {
  background: none;
  margin-top: 10px;
}

.name-lookup {
  width: 200px;
}
