mat-card {
    width: 700px;
    margin: auto;

    a {
        cursor: pointer;
    }
}

mat-card-content {
    align-items: center;
}

.owned {
    border: 3px solid;
    border-color: white;
}

h2, h3, h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}


@media (max-width: 480px){
    .name {
        margin-left: 10px;
        font-size: 12px;
        width: 12%;
    }

    .odds {
        display: none;
    }

    .sales-property {
        border-radius: 5px;
        color: white;
        width: fit-content;
        padding: 0px;
        width: 38px;
        height: fit-content;
        margin: 0px 0px 0px 10px;
        text-align: center;
        font-size: 14px;
    }
}

@media (min-width: 480px){
    .name {
        margin-left: 10px;
        width: 230px;
    }

    .odds {
        margin-right: 20px;
        width: min-content;
    }

    .sales-property {
        border-radius: 5px;
        color: white;
        width: fit-content;
        padding: 0px 5px;
        width: 50px;
        height: fit-content;
        margin: 0px 0px 0px 20px;
        text-align: center;
    }
}

.common {
    background-color: rgb(123, 121, 121);
}

.rare {
    background-color: rgb(9, 116, 9);
}

.elite {
    background-color: rgb(19, 19, 143);
}

.legendary {
    background-color: rgb(193, 134, 25);
}

.reignmaker {
    background-color: rgb(207, 108, 8);
    margin-right: 20px;
}