<mat-card>
  <mat-card-content style="display: flex">
    <h3 class="name">
      {{ fighter.name }}
    </h3>

    <h4 class="odds">
      {{ fighter.moneyline || fighter.vote.win_percentage }}
      <mat-progress-bar
        *ngIf="fighter.vote.win_percentage"
        mode="determinate"
        color="warn"
        value="{{ fighter.vote.tko_percentage + fighter.vote.sub_percentage }}"
        matTooltip="Finish - {{
          fighter.vote.tko_percentage + fighter.vote.sub_percentage
        }}%"
      ></mat-progress-bar>
    </h4>
    <h3
      class="sales-property core-badge"
      matBadge="{{ collected.core }}"
      matBadgeColor="primary"
    >
      <a *ngIf="core?.price" href="{{ core.link }}" target="_blank">{{
        core.price
      }}</a>
    </h3>
    <h3
      class="sales-property rare-badge"
      matBadge="{{ collected.rare }}"
      matBadgeColor="primary"
    >
      <a *ngIf="rare?.price" href="{{ rare.link }}" target="_blank">{{
        rare.price.toFixed(0)
      }}</a>
    </h3>
    <h3
      class="sales-property elite-badge"
      matBadge="{{ collected.elite }}"
      matBadgeColor="primary"
    >
      <a *ngIf="elite?.price" href="{{ elite.link }}" target="_blank">{{
        elite.price.toFixed(0)
      }}</a>
    </h3>
    <h3
      class="sales-property legendary-badge"
      matBadge="{{ collected.legendary }}"
      matBadgeColor="primary"
    >
      <a *ngIf="legendary?.price" href="{{ legendary.link }}" target="_blank">{{
        legendary.price.toFixed(0)
      }}</a>
    </h3>
    <h3
      class="sales-property reignmaker-badge"
      matBadge="{{ collected.reignmaker }}"
      matBadgeColor="primary"
    >
      <a
        *ngIf="reignmaker?.price"
        href="{{ reignmaker.link }}"
        target="_blank"
        >{{ reignmaker.price.toFixed(0) }}</a
      >
    </h3>
  </mat-card-content>
</mat-card>
