mat-card {
    margin: auto;

    a {
        cursor: pointer;
    }
}

mat-card-content {
    align-items: center;
}

.owned {
    border: 3px solid;
    border-color: white;
}

h2, h3, h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

// .odds {
//     margin-left: 10px;
//     width: min-content;
// }

.name {
    line-height: normal;
}

@media (max-width: 480px){
    mat-card {
        width: 100%;
    }

    .name {
        margin: .5em 0 .5em 1em;
        font-size: 12px;
        width: 30%;
    }

    .odds {
        font-size: 12px;
        margin-left: 1em;
        width: 10%;
    }

    .sales-property {
        font-size: 12px;
        margin: 0 0 0 1em;
        border-radius: 5px;
        color: white;
        padding: 0px;
        width: 15%;
        height: fit-content;
        text-align: center;
        
    }
}

@media (min-width: 480px){
    mat-card {
        width: 700px;
    }

    .name {
        margin: 5px 0 5px 20px;
        width: 230px;
    }

    .sales-property {
        border-radius: 5px;
        color: white;
        width: fit-content;
        padding: 0px 5px;
        width: 50px;
        height: fit-content;
        margin: 0px 0px 0px 20px;
        text-align: center;
    }
}

.common {
    background-color: rgb(123, 121, 121);
}

.rare {
    background-color: rgb(9, 116, 9);
}

.elite {
    background-color: rgb(19, 19, 143);
}

.legendary {
    background-color: rgb(193, 134, 25);
}

.reignmaker {
    background-color: rgb(207, 108, 8);
    margin-right: 1em;
}