#collection-filters {
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px;
}

#view-toggle {
    padding-top: 10px;
    margin-right: 30px;
}

#collection-selector {
    // height: 50px;
}