<div id="ufc-container">
  <mat-form-field id="year-selector">
    <mat-select [(value)]="selectedYear" placeholder="Contest Year">
      <mat-option value="2024">2024</mat-option>
      <mat-option value="2023">2023</mat-option>
    </mat-select>
  </mat-form-field>
  <span *ngFor="let event of events">
    <mat-card class="fight-details">
      <mat-card-header>
        <mat-card-title class="fight-title">{{ event.title }}</mat-card-title>
        <mat-card-subtitle>{{ event.date }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-grid-list [cols]="columnSize" rowHeight="40px" gutterSize="10px">
      <mat-grid-tile *ngFor="let fighter of event['fighters']">
        <app-event-fighter
          [fighter]="fighter"
          [contestYear]="selectedYear"
          style="width: 100%"
        ></app-event-fighter>
      </mat-grid-tile>
    </mat-grid-list>
  </span>
</div>
