.fight-details {
    margin: 10px 0px;
    background-color: #232323;
}

.fight-title {
    margin-top: 10px;
}

.event-title {
    padding-top: 0px;
}

#ufc-container {
    padding-bottom: 20px;
}

#year-selector {
    float: right;
}