mat-card-header {
    height: 150px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h5 {
    margin-bottom: 45px;
}

h4 {
    margin-bottom: 10px;
    margin-right: 5px;
}

.card-property {
    background-color: #444;
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding: 0px 5px;
}

.gain {
    background-color: darkgreen;
    border-radius: 10px;
    margin-left: 5px;
    padding: 0px 4px;
}

.loss {
    background-color: darkred;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 4px;
}

.crop {
    width: 180px;
    height: 135px;
    overflow: hidden;
}

.crop img {
    width: 240px;
    height: 260px;
    margin: -55px 0 0 -28px;
}

.content {
    margin-left: 20px;
}

.links {
    margin-right: 20px;
}
