mat-grid-list {
  margin: 0px 20px;
}

mat-chip-list {
  margin: 5px 10px;
}

::ng-deep .mat-checkbox-label {
  color: white;
}

mat-form-field {
  width: 100px;
  padding-bottom: 0px;
}

::ng-deep .mat-form-field-wrapper{
  margin-bottom: -1.25em;
}

#filter-options {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.left-options {
  display: flex;
  margin-left: 20px;
}

.right-options {
  display: flex;
  margin-right: 20px;
}


#raritySelection {
  display: flex;
  align-items: center;
}

.checkSpacing {
  margin-right: 10px;
}

::ng-deep mat-checkbox .mat-checkbox-checkmark-path {
  stroke: lightgray !important;
}