<div id="collection-container">
  <mat-card>
    <mat-grid-list cols="3" rowHeight="28">
      <mat-grid-tile
        ><h3><b># CARDS</b></h3></mat-grid-tile
      >
      <mat-grid-tile
        ><h3><b>MARKET</b></h3></mat-grid-tile
      >
      <mat-grid-tile
        ><h3><b>OFFERS</b></h3></mat-grid-tile
      >
      <mat-grid-tile>{{ collection | collectionCount }}</mat-grid-tile>
      <mat-grid-tile>${{ collection | collectionValue }}</mat-grid-tile>
      <mat-grid-tile>${{ collection | collectionOffer }}</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>
