<div id="ufc-container" *ngFor="let event of events">
    <mat-card class="fight-details">
        <mat-card-header>
            <mat-card-title class="fight-title">{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.date}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-grid-list [cols]="1" rowHeight="40px" gutterSize="10px">
        <mat-grid-tile *ngFor="let matchup of event['matchups']">
          <app-event-fighter [fighter]=matchup[0] style="width:100%"></app-event-fighter>
          <app-event-fighter [fighter]=matchup[1] style="width:100%"></app-event-fighter>
        </mat-grid-tile>
    </mat-grid-list>
</div>
