.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-header {
    padding: 8px 24px 0;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  mat-header-cell, mat-cell {
    justify-content: center;
  }

  mat-row {
    min-height: 35px;
  }

  .edition-badge {
    height: 20px;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  @media (max-width: 480px){
    mat-cell {
        font-size: 12px;
    }
    mat-header-cell:last-of-type, mat-cell:last-of-type {
      padding: 0;
    }
  }
  @media (min-width: 480px){
    mat-cell {
      font-size: 14px;
    }
  }