::ng-deep {
    .mat-card {
        width: 100%;
        padding: 0px !important;
    }
    a {
        all: unset;
    }
}

mat-toolbar {
    margin-bottom: 15px;
}

#title {
    margin-right: 20px;
    font-size: 24px;
}

.nav-spacer {
    flex: 1 1 auto;
  }

.username {
    background-color: black;
    color: white
}

.userkey {
    width: 200px;
    margin-right: 10px;
}
