<mat-toolbar color="primary">
    <span id="title"><i><b>REIGNBREAKER</b></i></span>
    <button mat-button [routerLink]="['']">Inventory</button>
    <button mat-button [routerLink]="['events']">Events</button>
    <button mat-button [routerLink]="['contests']">Contests</button>
    <span class="nav-spacer"></span>
    <input class="username userkey" type="text" placeholder="userkey">
    <input class="username" type="text" placeholder="username">

</mat-toolbar>

<router-outlet></router-outlet>

