
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card-header {
    height: 130px;
    margin-left: 0px;
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
::ng-deep .mat-card-header-text {
    margin: 0 6px;
}

h2 {
    margin-bottom: 0px;
}

h4 {
    margin-bottom: 10px;
    margin-right: 5px;
}

.card-property {
    background-color: #444;
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding: 0px 5px;
    font-size: 14px;
}

.gain {
    background-color: darkgreen;
    border-radius: 10px;
    margin-left: 5px;
    padding: 0px 4px;
}

.loss {
    background-color: darkred;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 4px;
}

.crop {
    width: 135px;
    height: 110px;
    overflow: hidden;
}

.crop img {
    width: 150px;
    height: 130px;
    margin: -10px 0 0 -10px;
}

.content {
    margin-left: 20px;
}

.links {
    position: absolute;
    top: 50px;
    right: 15px;
    transform: scale(0.8);
}
