<mat-card appearance="outlined">
  <mat-card-header>
    <div class="crop">
      <img src="{{ card.thumbnail_url }}" />
    </div>
    <div class="content">
      <h2>{{ card.name }}</h2>
      <div style="display: flex; color: lightgray">
        <h5>{{ card.team }}</h5>
        <h5>&nbsp;&nbsp;#{{ card.edition }}</h5>
      </div>
      <div>
        <h4 class="clickable">
          <i>{{ card.event?.name || " " }}</i>
        </h4>
      </div>
      <div style="display: flex">
        <h4 class="card-property">Cost: ${{ card.purchase }}</h4>
        <h4
          class="card-property"
          [ngClass]="{ gain: card.diff > 0, loss: card.diff <= 0 }"
        >
          Market: ${{ card.market }}
        </h4>
        <h4 *ngIf="card.sale" class="card-property">List: ${{ card.sale }}</h4>
      </div>
    </div>
    <span style="flex: 1 1 auto"></span>
    <span class="links">
      <button mat-mini-fab color="primary">
        <a href="{{ card.link }}" target="_blank">
          <mat-icon>shopping_cart</mat-icon>
        </a>
      </button>
    </span>
  </mat-card-header>
</mat-card>
