@use '@angular/material' as mat;

@include mat.all-component-typographies();
@include mat.core();


// Define a dark theme
$dark-theme: mat.define-dark-theme((
 color: (
   primary: mat.define-palette(mat.$indigo-palette),
   accent: mat.define-palette(mat.$blue-palette),
 ),
  // Only include `typography` and `density` in the default dark theme.
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);
@include mat.fab-theme($dark-theme);
@include mat.icon-button-theme($dark-theme);
@include mat.card-theme($dark-theme);
@include mat.badge-theme($dark-theme);
@include mat.select-theme($dark-theme);
@include mat.option-theme($dark-theme);
@include mat.all-component-themes($dark-theme)
