mat-card {
    width: 700px;
    margin: auto;

    a {
        cursor: pointer;
    }
}

mat-card-content {
    align-items: center;
}

.sales-property {
    border-radius: 5px;
    color: white;
    width: fit-content;
    padding: 0px 5px;
    width: 50px;
    height: fit-content;
    margin: 0px 0px 0px 20px;
    text-align: center;
}

h2, h3, h4, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.name {
    margin-left: 10px;
    width: 235px;
}

.odds {
    margin-left: 10px;
    width: 30px;
}

.favorite {
    background-color:rgb(6, 47, 6);
}

.dog {
    background-color:rgb(47, 5, 5);
}

.common {
    background-color: rgb(123, 121, 121);
}

.rare {
    background-color: rgb(9, 116, 9);
}

.elite {
    background-color: rgb(19, 19, 143);
}

.legendary {
    background-color: rgb(193, 134, 25);
}

.reignmaker {
    background-color: rgb(207, 108, 8);
}